<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.accept_num.mapper.CustomerMapper">


    <resultMap id="BaseResultMap" type="com.moon.moon_commons.entity.CustomerEntity">
        <id column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
    </resultMap>


    <sql id="Base_Column_List">
       uuid, mobile,create_time,open_id
    </sql>

    <select id="selectInfoByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from customer
        <where>
            <if test="param.mobile != null" >
                and mobile = #{param.mobile}
            </if>
            <if test="param.openId != null" >
                and open_id = #{param.openId}
            </if>
        </where>
        order by create_time asc
        limit 1
    </select>

    <insert id="insert" parameterType="com.moon.moon_commons.entity.CustomerEntity" >
        insert into customer (uuid,mobile,open_id,create_time) values (#{param.uuid},#{param.mobile},#{param.openId},#{param.createTime})
    </insert>

    <update id="updateDynamic" parameterType="com.moon.moon_commons.entity.CustomerEntity">
        update customer
        <set>
            <if test="param.mobile != null">
                mobile = #{param.mobile,jdbcType=VARCHAR},
            </if>
            <if test="param.openId != null">
                open_id = #{param.openId,jdbcType=CHAR},
            </if>

        </set>
        where uuid = #{param.uuid,jdbcType=VARCHAR}
    </update>
</mapper>