<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.accept_num.mapper.NumItemMapper">

    <resultMap id="BaseResultMap" type="com.moon.moon_commons.entity.NumItemEntity">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="type" jdbcType="INTEGER" property="status"/>
        <result column="take_uuid" jdbcType="VARCHAR" property="takeUuid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
    uuid,type, num, status, take_uuid, create_time
   </sql>

    <select id="selectUseAbleNumCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from  customer c left join cust_take_info ti on c.uuid = ti.cust_uuid
        left join num_item ni on ti.uuid = ni.take_uuid  where status = 1 and c.mobile = #{mobile}
    </select>

    <select id="selectUseAbleNums" parameterType="java.lang.String" resultType="java.lang.Integer">
        select ni.num from  customer c left join cust_take_info ti on c.uuid = ti.cust_uuid
        left join num_item ni on ti.uuid = ni.take_uuid  where status = 1 and c.open_id = #{openId}
    </select>


    <insert id="insert" parameterType="com.moon.moon_commons.entity.NumItemEntity">
        insert into num_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="param.uuid != null">
                uuid,
            </if>
            <if test="param.type != null">
                type,
            </if>
            <if test="param.num != null">
                num,
            </if>
            <if test="param.status != null">
                status,
            </if>
            <if test="param.takeUuid != null">
                take_uuid,
            </if>
            <if test="param.createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="param.uuid != null">
                #{param.uuid,jdbcType=VARCHAR},
            </if>
            <if test="param.type != null">
                #{param.type,jdbcType=INTEGER},
            </if>
            <if test="param.num != null">
                #{param.num,jdbcType=INTEGER},
            </if>
            <if test="param.status != null">
                #{param.status,jdbcType=INTEGER},
            </if>
            <if test="param.takeUuid != null">
                #{param.takeUuid,jdbcType=VARCHAR},
            </if>
            <if test="param.createTime != null">
                #{param.createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <update id="update" parameterType="com.moon.moon_commons.entity.NumItemEntity">
        update num_item
        <set>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="takeUuid != null">
                take_uuid = #{takeUuid,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            uuid = #{uuid,jdbcType=VARCHAR}
            <if test="lastUpdTime != null">
                and update_time = #{lastUpdTime}
            </if>
        </where>
    </update>

    <select id="selectByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from num_item
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>


    <sql id="findPageWithWhere">
        <where>1=1
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid,jdbcType=VARCHAR}
            </if>
            <if test="num != null">
                and num = #{num,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="takeUuid != null and takeUuid != ''">
                and take_uuid = #{takeUuid,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>


    <select id="findPageWithResult" parameterType="com.moon.moon_commons.entity.NumItemEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from num_item
        <include refid="findPageWithWhere"/>
        limit #{start},#{pageSize}
    </select>


    <select id="findPageWithCount" parameterType="com.moon.moon_commons.entity.NumItemEntity" resultType="Integer">
        select count(1)
        from num_item
        <include refid="findPageWithWhere"/>
    </select>

    <select id="selectTypeCount" resultType="com.moon.moon_commons.bean.TypeCountBean">
        select type,count(1) as numCount from num_item
        <where>
            status != 4
            <if test="param.status != null">
                and status = 1
            </if>
        </where>
        group by type;
    </select>

    <select id="selectMaxNum" resultType="java.lang.Integer">
         select MAX(num) from num_item ;
    </select>

    <select id="getNumList" resultType="com.moon.moon_commons.bean.NumDetailBean">
         select ni.uuid as uuid,
          c.name as name,
          c.mobile as mobile,
          c.open_id as openId,
          ni.num as num,
          ni.status as status,
          ni.type as type
         from  num_item ni left join cust_take_info ti on ti.uuid = ni.take_uuid
         left join customer c  on c.uuid = ti.cust_uuid
         where status != 4 order by ni.status asc,ni.num asc
    </select>

    <select id="getByUuid" resultMap="BaseResultMap">
        select * from num_item where uuid = #{uuid}
    </select>

</mapper>